.findPOLineModalContent {
  min-height: 400px;
  padding: 0;
  position: relative;

  & [class^="paneset--"] {
    height: 390px;
  }

  & [class^="mclRowContainer--"] {
    max-width: 100%;

    & div {
      max-width: 100%;
    }

    & [class^="mclCell--"] {
      word-break: break-word;
    }
  }
}

.findPOLineModalFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
